<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--允许jdbc自动生成主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列名代替标签名-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>